@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;;
  /* position: fixed; */
  background-repeat: no-repeat, no-repeat;
  background-color: var(--Dark-cyan);
}

.container {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.image-victor {
  display: flex;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  border: 4px solid white;
  margin-top: -50px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  color: var(--Very-dark-desaturated-blue);
}

.user-name,
.age {
  display: inline-block;
}

.age,
.place {
  color: var(--Dark-grayish-blue);
}

.user-name {
  margin-right: 7px;
}

.place {
  font-size: 14px;
}

.profile-info {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  background-color: hsl(224, 9%, 77%);
  border: none;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.followers-stats,
.likes-stats,
.photos-stats{
    text-align: center;
}

.profile-stats span {
  font-size: 13px;
  color: var(--Dark-grayish-blue);
}

/*Responsive*/

@media only screen and (max-width: 375px) {
  .container{
   margin: 0 10px;
   min-width: 250px;
  }
}
